@using Newtonsoft.Json
@model DBSoft.ShoppingList.Web.Models.ShoppingListModel

@{
    ViewBag.Title = "ShoppingList";
}

<h3>Shopping List</h3>
<div ng-app="shoppingListModule"
     ng-controller="shoppingListController"
     my-main-directive
     my-directive
     id="shoppingList"
     data-save-item-url="@Url.Action("SaveItem")"
     data-remove-item-url="@Url.Action("RemoveItem")">
    <div id="checkbox-list" class="checkbox-list">
        <div class="selection-div" ng-repeat="item in model.Items  | filterItems" my-repeat-directive>
            <div ng-hide="item.isAdding">
                <my-checkbox item="item"></my-checkbox>
            </div>
            <input ng-show="item.isAdding" type="text" class="form-control" ng-model="item.ItemName" />
            <input ng-show="item.isAdding" type="button" class="btn-device btn-info" value="Save" ng-click="saveItem(item)" />
            <input ng-show="item.isAdding" type="button" class="btn-device btn-warning" value="Cancel" ng-click="cancelSaveItem(item)" />
        </div>
    </div>
    <div id="buttons">
        <input type="button" class="btn-device btn-success" value="Add" ng-click="addItem()" />
        <input type="button" class="btn-device btn-danger" value="Remove" ng-click="removeItems()" />
    </div>
</div>

    <script type="text/javascript">
        var shoppingListModel =
            @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented, new JsonSerializerSettings
    {
        NullValueHandling = NullValueHandling.Ignore
    }))
    </script>

    @section scripts
{
        @Scripts.Render("~/Scripts/ShoppingList/app.js")
        @Scripts.Render("~/Scripts/ShoppingList/shoppingListController.js")
    }
